<a href="https://colab.research.google.com/github/koushik-2303A51912/-2303A51912-application-of-data-mining/blob/main/Assingment_2_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
df = pd.read_csv('/student-dataset.csv')
print(df)

      id               name               nationality                 city  \
0      0          Kiana Lor                     China               Suzhou
1      1     Joshua Lonaker  United States of America        Santa Clarita
2      2      Dakota Blanco  United States of America              Oakland
3      3    Natasha Yarusso  United States of America        Castro Valley
4      4     Brooke Cazares                    Brazil  São José dos Campos
..   ...                ...                       ...                  ...
302  302        Austin Haas  United States of America             Columbus
303  303    Madison Fithian  United States of America          Los Angeles
304  304  Zachary Mulvahill  United States of America          Los Angeles
305  305   Eliana Michelsen  United States of America              Oakland
306  306    Dane Whittemore                    Canada              Toronto

     latitude  longitude gender  age  english.grade  math.grade  \
0       31.31     120.62      F   22            3.5         3.7
1       34.39    -118.54      M   22            2.9         3.2
2       37.80    -122.27      F   22            3.9         3.8
3       37.69    -122.09      F   20            3.3         2.8
4      -23.18     -45.88      F   21            3.7         2.6
..        ...        ...    ...  ...            ...         ...
302     39.96     -83.00      M   20            3.6         3.7
303     34.05    -118.24      F   20            3.6         3.9
304     34.05    -118.24      M   20            3.2         3.4
305     37.80    -122.27      F   23            3.0         2.8
306     43.67     -79.42      M   21            3.8         3.2

     sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0               3.1             1.0                 4                 4.0
1               3.6             5.0                 5                 4.0
2               3.2             5.0                 3                 3.0
3               NaN             5.0                 5                 2.0
4               3.4             1.0                 4                 4.0
..              ...             ...               ...                 ...
302             3.1             5.0                 4                 5.0
303             4.0             5.0                 5                 5.0
304             3.9             5.0                 5                 5.0
305             2.9             5.0                 4                 4.0
306             4.0             5.0                 5                 4.0

     refletter.rating
0                   4
1                   5
2                   4
3                   4
4                   5
..                ...
302                 5
303                 3
304                 3
305                 5
306                 5

[307 rows x 15 columns]

In [8]:
df

,id,name,nationality,city,latitude,longitude,gender,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,22,3.5,3.7,3.1,1.0,4,4.0,4
1,1,Joshua Lonaker,United States of America,Santa Clarita,34.39,-118.54,M,22,2.9,3.2,3.6,5.0,5,4.0,5
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,22,3.9,3.8,3.2,5.0,3,3.0,4
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,20,3.3,2.8,NaN,5.0,5,2.0,4
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,21,3.7,2.6,3.4,1.0,4,4.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,302,Austin Haas,United States of America,Columbus,39.96,-83.00,M,20,3.6,3.7,3.1,5.0,4,5.0,5
303,303,Madison Fithian,United States of America,Los Angeles,34.05,-118.24,F,20,3.6,3.9,4.0,5.0,5,5.0,3
304,304,Zachary Mulvahill,United States of America,Los Angeles,34.05,-118.24,M,20,3.2,3.4,3.9,5.0,5,5.0,3
305,305,Eliana Michelsen,United States of America,Oakland,37.80,-122.27,F,23,3.0,2.8,2.9,5.0,4,4.0,5
306,306,Dane Whittemore,Canada,Toronto,43.67,-79.42,M,21,3.8,3.2,4.0,5.0,5,4.0,5

In [9]:
median_sciences_grade = df['sciences.grade'].median()
median_language_grade = df['language.grade'].median()
df['sciences.grade_median'] = df['sciences.grade'].fillna(median_sciences_grade)
df['language.grade_median'] = df['language.grade'].fillna(median_language_grade)
print(df['sciences.grade'])
print(df['language.grade'])
print(df.head())

0      3.1
1      3.6
2      3.2
3      NaN
4      3.4
      ...
302    3.1
303    4.0
304    3.9
305    2.9
306    4.0
Name: sciences.grade, Length: 307, dtype: float64
0      1.0
1      5.0
2      5.0
3      5.0
4      1.0
      ...
302    5.0
303    5.0
304    5.0
305    5.0
306    5.0
Name: language.grade, Length: 307, dtype: float64
   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  age  english.grade  math.grade  sciences.grade  \
0     31.31     120.62      F   22            3.5         3.7             3.1
1     34.39    -118.54      M   22            2.9         3.2             3.6
2     37.80    -122.27      F   22            3.9         3.8             3.2
3     37.69    -122.09      F   20            3.3         2.8             NaN
4    -23.18     -45.88      F   21            3.7         2.6             3.4

   language.grade  portfolio.rating  coverletter.rating  refletter.rating  \
0             1.0                 4                 4.0                 4
1             5.0                 5                 4.0                 5
2             5.0                 3                 3.0                 4
3             5.0                 5                 2.0                 4
4             1.0                 4                 4.0                 5

   sciences.grade_median  language.grade_median
0                    3.1                    1.0
1                    3.6                    5.0
2                    3.2                    5.0
3                    3.6                    5.0
4                    3.4                    1.0

In [11]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler
data = df.select_dtypes(include=np.number)
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(data)
print("Normalized Data (Min-Max Scaling):")
print(normalized_data)

Normalized Data (Min-Max Scaling):
[[0.         0.69380759 0.92722915 ... 0.75       0.65384615 0.        ]
 [0.00326797 0.72680523 0.01746044 ... 1.         0.84615385 1.        ]
 [0.00653595 0.76333833 0.00327145 ... 0.75       0.69230769 1.        ]
 ...
 [0.99346405 0.72316263 0.01860164 ... 0.5        0.96153846 1.        ]
 [0.99673203 0.76333833 0.00327145 ... 1.         0.57692308 1.        ]
 [1.         0.8262267  0.16627358 ... 1.         1.         1.        ]]